<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>LEML Project</title>

  <link rel="shortcut icon" href="/static/img/favicon.ico" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/static/css/style.css"></style>

  <!-- Cytoscape -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.15/cytoscape.js"></script>

  <!-- Dagre layout -->
  <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>


  <!-- Snap to grid -->
  <script src="https://rawgit.com/guimeira/cytoscape-snap-to-grid/07a39de055b28cdff754155c33af79c071d12a64/cytoscape-snap-to-grid.js"></script>

  <!-- AJV Another Json Validator-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ajv/4.11.3/ajv.bundle.js"></script>

  <!-- Undo Redo -->
  <script type="text/javascript" src="https://rawgit.com/iVis-at-Bilkent/cytoscape.js-undo-redo/master/cytoscape-undo-redo.js"></script>

  <!-- Local JS files-->
  <script type="text/javascript" src="/static/js/json_validator.js"></script>
  <script type="text/javascript" src="/static/js/import.js"></script>
  <script type="text/javascript" src="/static/js/export.js"></script>
  <script type="text/javascript" src="/static/js/image_download.js"></script>
  <script type="text/javascript" src="/static/js/drag_and_drop.js"></script>
  <script type="text/javascript" src="/static/js/sidebar.js"></script>
  <script type="text/javascript" src="/static/js/register.js"></script>
  <script type="text/javascript" src="/static/js/routes.js"></script>
  <script type="text/javascript" src="/static/js/user.js"></script>
  <script type="text/javascript" src="/static/js/exploreLems.js"></script>
  <script type="text/javascript" src="/static/js/navigation.js"></script>
  <script type="text/javascript" src="/static/js/loadHtml.js"></script>
  <script type="text/javascript" src="/static/js/extensions.js"></script>
  <script type="text/javascript" src="/static/js/favorite.js"></script>
  <script type="text/javascript" src="/static/js/comment.js"></script>
  <script type="text/javascript" src="/static/js/rating.js"></script>
  <script type="text/javascript" src="/static/js/keypress.js"></script>
  <script type="text/javascript" src="/static/js/change_canvas.js"></script>

  <script type="text/javascript" src="/static/js/state.js"></script>
  <script type="text/javascript" src="/static/js/actions/keyboard_actions.js"></script>
  <script type="text/javascript" src="/static/js/actions/canvas_actions.js"></script>
  <script type="text/javascript" src="/static/js/actions/public_lems_actions.js"></script>
  <script type="text/javascript" src="/static/js/actions/private_lems_actions.js"></script>


  <script type="text/javascript">
	  $(window).bind('beforeunload', function(){
		return "Some string";
          });
  </script>

</head>
<body>
  <nav class="navbar navbar-default" id="navbar_id">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand">LEML Project</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="canvas_button" class="active"><a  onclick="showPage('canvas');">Canvas Editor<span class="sr-only">(current)</span></a></li>
          <li id="public_button"><a  onclick="showPage('public');">Public LEMs</a></li>
          <li style="display:none;" id="user_button"><a  onclick="showPage('user');">My LEMs</a></li>
        </ul>

        <form id="loginForm" class="navbar-form navbar-right">
          <div class="form-group">
            <input id="usernameField" type="text" class="form-control" placeholder="Username">
            <input id="passwordField" type="password" class="form-control" placeholder="Password">
            <button id="loginButton" class="btn btn-default">Log In</button>
            <br><small id="loginErrorText" class="text-warning" style="display:none">User not found</small>
          </div>
          <button id="registerButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">Register</button>
        </form>

        <div class="navbar-form navbar-right dropdown" id="currentUserInfo" style="display:none">
          <button class="btn btn-default dropdown-toggle" type="button" id="currentUserEmail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a id="logoutButton" >Log Out</a></li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" id="main_window">
    <div class="row">
      <div class="col-md-9" id="content">
        <div id="cy" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <script type="text/javascript" src="/static/js/cytoscape_canvas.js"></script>
      </div>

      <div class="col-md-3 open" id="sidebar0">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" id="canvasDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Canvas
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="canvasDropdown">
              <li><a onclick="importLem();">Import LEM</a></li>
              <li><a onclick="redraw();">Redraw</a></li>
              <li><a onclick="clearCanvas();">Clear Canvas</a></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="exportDropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="exportDropdown">
              <li><a id="downloadPNG">PNG</a></li>
              <li><a id="downloadJPEG">JPEG</a></li>
              <li><a  onclick="downloadLemJson()">LEM</a></li>
              <li id="shareDropdown" style="display:none;"><a  onclick="openExportDialog(true);">Share</a></li>
              <li id="saveDropdown" style="display:none;"><a  onclick="openExportDialog(false);">Save</a></li>
            </ul>
          </div>
          <button class="btn btn-default" type="button" onclick='$("#help_Modal").modal("show");'>Help</button>
        </div>

        <br>
        <br>

        <div class="panel-heading">
          <h3 class="panel-title">Favorite Templates</h3>
        </div>
        <div id="loginForFavorites">
          <span class="glyphicon glyphicon-info-sign"></span> Login or <a onclick="$('#registerModal').modal('show');">Register</a> to view favorites
        </div>
        <div id="templatePanel" class="panel-body" style="overflow-y: scroll">
        </div>
        <!-- <h3> I am a sidebar</h3> -->
        <!--           <button type="button" class="btn btn-primary" onclick="downloadLemJson();">Export LEM</button>
        <button type="button" class="btn btn-primary" onclick="uploadLem();">Upload LEM</button>

        <div class="dropdown show">
        <a class="btn btn-primary dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Download as
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item"  id="downloadPNG">PNG</a>
      <a class="dropdown-item"  id="downloadJPEG">JPEG</a>
    </div>
  </div> -->
</div>
<div class="hidden" id="sidebar1">
  <h3>Building Block</h3>
  <hr>
  <form class="form-horizontal">

    <div class="form-group">
      <label for="inputDescription" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputDescription" onchange="descriptionChange()">
      </div>
    </div>
    <div class="form-group">
      <label for="inputMethod" class="col-sm-3 control-label">Method</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputMethod" onchange="methodChange()">
      </div>
    </div>
    <div class="input-group">
      <input type="text" id="inputType" class="form-control" aria-label="..." readonly>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a  onclick="typeChange(0);">Information</a></li>
          <li><a  onclick="typeChange(1);">Dialogue</a></li>
          <li><a  onclick="typeChange(2);">Feedback</a></li>
          <li><a  onclick="typeChange(3);">Practice</a></li>
          <li><a  onclick="typeChange(4);">Evidence</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </form>
</div>
<div class="hidden" id="sidebar2">
  <h3>Action</h3>
  <hr>
  <form class="form-horizontal">
    <div class="input-group">
      <input type="text" id="inputAction" class="form-control" aria-label="..." readonly>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action Type <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a  onclick="actionChange(0);">Learner Action</a></li>
          <li><a  onclick="actionChange(1);">Facilitator Action</a></li>
          <li><a  onclick="actionChange(2);">System Action</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
    <br>
    <div class="form-group">
      <label for="actionDescription" class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="actionDescription" onchange="actionDescriptionChange()">
      </div>
    </div>
  </form>
</div>
<div class="hidden" id="sidebar3">
  <h3>Context</h3>
  <hr>
  <form class="form-horizontal">
    <div class="input-group">
      <input type="text" id="inputContext" class="form-control" aria-label="..." readonly>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Context Type <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a  onclick="contextChange(0);">Classroom</a></li>
          <li><a  onclick="contextChange(1);">Online Synchronous</a></li>
          <li><a  onclick="contextChange(2);">Online Asynchronous</a></li>
          <li><a  onclick="contextChange(3);">Experiential</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </form>

</div>
<div class="hidden" id="sidebar4">
  <h3>Objective</h3>
  <hr>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputObjective" class="col-sm-3 control-label">Description </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputObjective" onchange="objectiveChange()">
      </div>
    </div>
  </form>
</div>

<div class="hidden" id="sidebar5">
  <h3>Start/Stop</h3>
  <hr>
  <form class="form-horizontal">
    <div class="input-group">
      <input type="text" id="inputStartstop" class="form-control" aria-label="..." readonly>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a  onclick="startstopChange(true);">Start</a></li>
          <li><a  onclick="startstopChange(false);">Stop</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </form>

</div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="dd_pane" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Drag and Drop Toolbar</h3>
        <label id="canvasErrorLabel"></label>
      </div>
      <div class="panel-body">
        <img id="Information" src="/static/img/Information.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" width="5%" height="5%">
        <img id="Dialogue" src="/static/img/Dialogue.png" draggable="true" ondragstart="drag(event,id)" ondblclick="doubleClick(event, id)" width="5%" height="5%">
        <img id="Feedback" src="/static/img/Feedback.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" width="5%" height="5%">
        <img id="Practice" src="/static/img/Practice.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" width="5%" height="5%">
        <img id="Evidence" src="/static/img/Evidence.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" width="5%" height="5%">
        <img id="objective" src="/static/img/objective.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" height="10%" width="10%">
        <img id="ClassroomContext" src="/static/img/ClassroomContext.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" height="5%">
        <img id="Online_SynchronousContext" src="/static/img/OnlineSynchronousContext.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" height="5%">
        <img id="Online_AsynchronousContext" src="/static/img/OnlineAsynchronousContext.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" height="5%">
        <img id="ExperientialContext" src="/static/img/ExperientialContext.png" draggable="true" ondragstart="drag(event, id)" ondblclick="doubleClick(event, id)" height="5%">
      </div>
    </div>
  </div>
</div>
</div>

<div id="publicLemList" class="hidden">
  <div id="publicLoader" class="loader"></div>
</div>


<div id="userLemList" class="hidden">
  <div id="userLoader" class="loader"></div>
</div>

</div>

<!-- Modals -->
<div data-include="exportErrorModal"></div>
<div data-include="imageDownloadModal"></div>
<div data-include="registerModal"></div>
<div data-include="shareModal"></div>
<div data-include="lemModal"></div>
<div data-include="helpModal"></div>

<!-- hidden div for function elements -->
<div style="display:none">
  <input type="file"  accept=".json,.lem" id="fileOpener">
  <a id="downloadLink">
    <img id="downloadImage" alt="LEM Image"></img>
  </a>
</div>

</body>
</html>
